<div class="card">
  <div class="card-body">
    <form [formGroup]="categoryForm" post novalidate>
      <div class="form-group">
        <label class="col-md-4">Category Name</label>
        <input type="text" class="form-control" name="category_name" formControlName="category_name" #category_name/>
      </div>
      <div *ngIf="categoryForm.controls['category_name'].invalid && (categoryForm.controls['category_name'].dirty || categoryForm.controls['category_name'].touched)" class="alert alert-danger">
        <div *ngIf="categoryForm.controls['category_name'].errors.required">
          Category Name is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="addCategory(category_name.value)" [disabled]="categoryForm.pristine || categoryForm.invalid" class="btn btn-primary">Create Category</button>
      </div>
    </form>
  </div>
</div>